# Flask Web Framework
Flask==2.2.5
Flask-CORS==4.0.0
Flask-RESTful==0.3.10

# Data Processing
pandas==1.5.3
numpy==1.24.3
pyyaml==6.0.1

# Logging
loguru==0.7.2

# API Clients
requests==2.31.0

# Environment
python-dotenv==1.0.0

# Data Collection Dependencies
fire==0.7.1
gate-api==7.1.8

# Qlib Dependencies
qlib==0.0.2.dev20

